@inject Application.Interfaces.Services.ISettingsService Settings

@{
    var name = await Settings.GetSettingByNameAsync("Название организации");
    var color = await Settings.GetSettingByNameAsync("Основной цвет");
    var logo = await Settings.GetSettingByNameAsync("Логотип");
}

<!DOCTYPE html>
<html lang="ru" class="h-full">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
    <style>:root { --color-primary: @color.Value; }</style>
</head>
<body class="h-screen flex flex-col font-display bg-surface">
<header class="bg-primary-deep border-b border-b-line">
    <div class="flex justify-between items-center px-10 py-7" >
        <div class="flex gap-4 items-center">
            @if (!string.IsNullOrEmpty(logo!.Value))
            {
                <img src="@logo.Value" alt="logo" class="h-12 w-12"/>
            }
            else
            {
                <div class="bg-primary text-2xl text-white rounded-lg px-3 py-1.5 font-bold">О</div>
            }
            <div class="flex flex-col tracking-wide">
                <div class="font-bold uppercase text-white text-lg">@name.Value</div>
                <div class="text-sm text-white opacity-60">Димитровград · Гоголя 21</div>
            </div>
        </div>

        <div class="flex gap-6 text-white text-lg tabular-nums">
            <span id="time" class="tracking-widest"></span>
            <span id="date" class="tracking-wide"></span>
        </div>
        
    </div>
</header>

<main class="flex-1">
    @RenderBody()
</main>

<script>
    const timeEl = document.getElementById('time');
    const dateEl = document.getElementById('date');
    
    setInterval(() => {
        timeEl.innerHTML = new Date().toLocaleTimeString([], {
            hour12: false
        });
    }, 1000)
    
    const format = {weekday: "long", month: "long", day: "numeric"};
    dateEl.innerHTML =  new Intl.DateTimeFormat('ru-RU', format).format(new Date())
</script>
</body>
</html>