@model Application.DTOs.ServiceDto

@{
    ViewBag.Title = "title";
    Layout = "_KioskLayout";
}

<div class="container mx-auto flex grow justify-center pt-10">
    <div class="flex flex-col gap-12 items-center">
        <div class="flex flex-col items-center text-center">
            <h1 class="text-3xl tracking-wide uppercase font-bold text-ink">@(Model.Name)</h1>
            <p class="mt-2 tracking-wide text-lg text-muted">@Model.Description</p>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            @foreach (var service in @Model.Children)
            {
                <a asp-controller="Service" asp-action="Select" asp-route-id="@service.Id" class="bg-white rounded-2xl p-5 border border-line flex flex-col gap-3 cursor-pointer">
                    <div class="w-14 h-14 bg-primary-soft rounded-2xl flex items-center justify-center">
                        <span class="w-7 h-7 bg-primary" style="mask: url('/icons/@(service.IconName).svg') center / contain no-repeat;"></span>
                    </div>
                    <div>
                        <h3 class="text-2xl font-bold text-ink tracking-wide">@service.Name</h3>
                        <p class="text-muted leading-tight">@service.Description</p>
                    </div>
                    <div class="bg-primary-soft w-fit py-1 px-2 font-normal rounded-full text-sm flex gap-2 items-center">
                        <img src="~/icons/Clock2.svg" alt="" width="12" height="12"/>
                        8 мин
                    </div>
                </a>
            }
        </div>
        <a class="text-primary bg-white font-semibold text-xl rounded-xl py-4 px-6 border" asp-controller="Service" asp-action="Index">Вернуться назад</a>
    </div>
</div>
