@model Application.DTOs.AdminDashboardDto

<h1>Главная админ панели</h1>

<div>
    <div>Талоны сегодня: @Model.TicketsToday</div>
    <div>Завершено сегодня: @Model.CompletedToday</div>
    <div>В очереди: @Model.WaitingNow</div>
    <div>Операторов: @Model.ActiveOperators</div>
</div>

<hr />


<h2>Количество талонов по услугам</h2>
<table>
    <thead>
        <tr>
            <th>Имя услуги</th>
            <th>Количество билетов</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ServiceStats)
        {
            <tr>
                <td>@item.ServiceName</td>
                <td>@item.TicketCount</td>
            </tr>
        }
    </tbody>
</table>

<hr />

<h2>Последние талоны</h2>
<table>
    <thead>
        <tr>
            <th>Номер</th>
            <th>Статус</th>
            <th>Дата</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var t in Model.LastTickets)
        {
            <tr>
                <td>@t.Number</td>
                <td>
                    @(t.Status == "Waiting" ? "Ожидает" :
                        t.Status == "Called" ? "Вызван" :
                        t.Status == "Processing" ? "В обработке" :
                        t.Status == "Completed" ? "Завершен" :
                        t.Status == "Cancelled" ? "Отменен" :
                        t.Status)
                </td>
                <td>@t.CreatedAt</td>
            </tr>
        }
    </tbody>
</table>

<hr />

<h2>Окна</h2>
<table>
    <thead>
        <tr>
            <th>Номер</th>
            <th>Статус</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var w in Model.Windows)
        {
            <tr>
                <td>@w.Number</td>
                <td>@(w.Status == Domain.Enums.WindowStatus.Open ? "Открыто" :
                    w.Status == Domain.Enums.WindowStatus.Close ? "Закрыто" :
                    w.Status)
                </td>
            </tr>
        }
    </tbody>
</table>