@model List<Application.DTOs.ServiceDto>
<a asp-controller="Admin" asp-action="WindowsList">Окна</a>

<h2>Список услуг</h2>

<table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Буква</th>
            <th>Описание</th>
            <th>Иконка</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var service in Model)
        {
            <tr>
                <td>@service.Name</td>
                <td>@service.Letter</td>
                <td>@service.Description</td>
                <td>@service.IconName</td>
                <td>
                    <form asp-action="ToggleServiceStatus" method="post" class="inline">
                        <input type="hidden" name="id" value="@service.Id" />

                        <button type="submit"
                                class="relative inline-flex h-7 w-14 items-center rounded-full transition
                       @(service.IsActive ? "bg-green-500" : "bg-gray-300")">

                            <span class="inline-block h-5 w-5 transform rounded-full bg-white shadow transition
                         @(service.IsActive ? "translate-x-8" : "translate-x-1")">
                            </span>
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-controller="Admin" asp-action="AddService"> Добавить</a>

<style>
    .table {
        width: 100%;
        border-collapse: collapse;
        font-family: Arial, sans-serif;
    }

        .table th, .table td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        .table th {
            background-color: #f2f2f2;
        }

        .table tr:hover {
            background-color: #f5f5f5;
        }
</style>